.books{
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.books__list{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-gap: 3rem 0;
}
.books__item{
  width: 11rem;
  height: 19rem;
}

@media (max-width: 768px) {
  .books__list{
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .books__item{
    width: 12rem;
    height: 22rem;
  }
}
